
.mdc input{
    width: 5%;
    margin-right: 10px;
    padding: 50px 20px;
}
.mdc{
    background-image: url("../my\ pic.jpg");
    display: flex;
    justify-content: center;
    
}
#one{
    text-align: center;
}
#home{
    text-align: center;
}
#short{
text-align: center ;
}
h1{
    color: rgb(244, 44, 29);
}